doctype html
html(lang="en")
  head
    title Landing page
  body
    h1 "The future home, of something awesome!"
    p "This is some text inside my wonderful paragraph"
    p "Why are divs everywhere?"S
